adventurelog.{env.DOMAIN_NAME} {
    @frontend {
        not path /media* /admin* /static* /accounts*
    }
    reverse_proxy @frontend {env.CLUSTER_IP}:9866

    reverse_proxy {env.CLUSTER_IP}:8669

    encode gzip

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}