homeassistant.{env.DOMAIN_NAME} {
	reverse_proxy {env.CLUSTER_IP}:8123

	encode gzip

	header {
		# Security headers
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "geolocation=()"
	}

	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}