rustdesk.{env.DOMAIN_NAME} {
	header {
		# HSTS (optional, recommended)
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "same-origin"
		Content-Security-Policy "base-uri 'self';"
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1; mode=block"
		# Remove reverse proxy header
		-Server
		-Via
	}

	# CORS for rustdesk.com
	@origin header Origin rustdesk.com
	header @origin Access-Control-Allow-Origin "rustdesk.com"
	header @origin Access-Control-Allow-Methods "OPTIONS,GET,POST"
	
	encode zstd gzip

	# ID Server
	reverse_proxy /ws/id {env.CLUSTER_IP}:21118 {
		transport http {
			read_timeout 120s
		}
	}

	# Relay Server
	reverse_proxy /ws/relay {env.CLUSTER_IP}:21119 {
		transport http {
			read_timeout 120s
		}
	}

	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}