services:
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:2.1.3
    restart: unless-stopped
    volumes:
      - app_data:/app/data
    ports:
      - "3001:3001"

volumes:
  app_data: 
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${APPDATA_LOCATION}/uptime-kuma
