ntfy.{env.DOMAIN_NAME} {
    reverse_proxy {env.CLUSTER_IP}:3017

    @httpget {
        protocol http
        method GET
        path_regexp ^/([-_a-z0-9]{0,64}$|docs/|static/)
    }
    redir @httpget https://{host}{uri}

    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
    }

    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }
}