services:
  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command:
      - serve
    environment:
      - TZ=UTC
    volumes:
      - ${APPDATA_LOCATION}/ntfy/cache:/var/cache/ntfy
      - ${APPDATA_LOCATION}/ntfy/config:/etc/ntfy
    ports:
      - 3017:80
    healthcheck:
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:3017/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 40s
    restart: unless-stopped
    init: true # needed, if healthcheck is used. Prevents zombie processes